<!-- Benefits -->
<div id="benefits" class="container benefits">
  <div class="row">
    <div class="col-md-4">
      <h3>No more manual analysis</h3>
      <p>Plain English answers to your plain English questions.</p>
      <br>
      <img src="{{ '/images/no-analysis.png' }}" alt="No more doing analysis" class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <h3>Save time</h3>
      <p>Proactive notifications of problems and opportunities.</p>
      <br>
      <img src="{{ '/images/save-time.png' }}" alt="Save time" class="img-thumbnail">
    </div>
    <div class="col-md-4">
      <h3>Make more money</h3>
      <p>Predict the future, catch drifting customers early and identify cross-sale opportunities.</p>
      <img src="{{ '/images/more-money.jpg' }}" alt="Make more money" class="img-thumbnail">
    </div>
  </div>
</div>

<hr>

<div id="features" class="container-wide features">
  <div class="row">
    <div class="col-md-4 text-right left-side fadeInRight">
      <div class="single-feature border-right-colored">
        <h4 class="colored-text">Simple interface</h4>
        <p class="transparent-text">
          No complicated charts and overwhelming dashboards.
        </p>
      </div>

      <div class="single-feature border-right-colored">
        <h4 class="colored-text">Plain english actions</h4>
        <p class="transparent-text">
          Actions, not actionable insights.
        </p>
      </div>

      <div class="single-feature border-right-colored">
        <h4 class="colored-text">Proactive notifications</h4>
        <p class="transparent-text">
          Get on with selling, not digging through data.
        </p>
      </div>
    </div>

    <div class="col-md-8">
      <div class="screenshots owl-carousel owl-theme">
        <div class="screenshot">
          <img src="{{ '/images/screenshot1.jpg' }}" alt="" />
        </div>

        <div class="screenshot">
          <img src="{{ '/images/screenshot2.jpg' }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="margin">


<!-- How -->
<div class="how container">
  <div class="row">
    <div class="col-md-4">
      <h2>Data science experts</h2>
      <p>Our years of expertise with advanced statistics and machine learning will unlock your data's potential.</p>
    </div>
    <div class="col-md-4">
      <h2>Security is key</h2>
      <p>We employ the latest security and encryption (256-bit AES encryption) technologies to keep your data safe.</p>
    </div>
    <div class="col-md-4">
      <h2>Plug 'n' Play</h2>
      <p>We integrate with all major ERP or CRM systems and just about any other data source from SQL to CSV.</p>
    </div>
  </div>
</div>

<hr>

<div id="understand" class="container-wide features screenshot2">
  <div class="row">
    <div class="col-md-8">
      <div class="screenshots owl-carousel owl-theme">
        <div class="screenshot">
          <img src="{{ '/images/screenshot3.jpg' }}" alt="" />
        </div>

        <div class="screenshot">
          <img src="{{ '/images/screenshot4.jpg' }}" alt="" />
        </div>
      </div>
    </div>

    <div class="col-md-4 text-left right-side fadeInLeft">
      <div class="single-feature border-left-colored">
        <h4 class="colored-text">Understand your customer base</h4>
        <p class="transparent-text">
          Automated, accurate customer clustering.
        </p>
      </div>

      <div class="single-feature border-left-colored">
        <h4 class="colored-text">Easy comparisons</h4>
        <p class="transparent-text">
          See how your customers are performing compared to each other.
        </p>
      </div>

      <div class="single-feature border-left-colored">
        <h4 class="colored-text">Predict the future</h4>
        <p class="transparent-text">
          Use predictive analytics to extrapolate for future trends.
        </p>
      </div>
    </div>
  </div>
</div>

<hr class="margin">

<!-- CTA -->
<div id="cta-form" class="container cta">
  <div class="row">
    <h2 class="text-light">The best way to learn more is to let us give you a 10 minute demo</h2>
    <div class="col-lg-4 col-lg-offset-4">
      <script type="text/javascript" src="https://leads-capturer.futuresimple.com/embed.js?token=0d97b58c17a87d064c80198d1a8f38cd"></script>
    </div>
  </div>
</div>