<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3>Product</h3>
        <ul class="links">
          <li><a href="/features/automate">Automate</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h3>Company</h3>
        <ul class="links">
          <li><a href="/security">Security</a></li>
          <li><a href="/about">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Contact Sales</h3>
        <ul class="links">
          <li>tel: +44 1206 700381</li>
          <li>email: sales@interpretive.io</li>
        </ul>
      </div>
      <div class="col-md-offset-1 col-md-4">
        <h3>Where to find us</h3>
        <p>
          interpretive Ltd. 1-3 Brixton Road,<br>
          London, SW9 6DE<br>
          +44 1206 700381<br>
          team@interpretive.io
        </p>
      </div>
    </div>

    <div class="row powered">
      <div class="col-lg-5 text-left">
        <ul>
          <li>© 2015 interpretive</li>
          <li><a href="/legal/terms">Terms</a></li>
          <li><a href="/legal/privacy">Privacy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 text-center">
      </div>

      <div class="col-lg-5 text-right social">
        <ul>
          <li><a href="http://www.linkedin.com/company/{{ site.linkedin_username }}"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
          <li><a href="http://www.github.com/{{ site.github_username }}"><i class="fa fa-github" title="Github"></i></a></li>
          <li><a href="http://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter" title="Twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>