a, a:focus, a:hover, a:active {
  color: #00afd7;
}

h1, h2, h3 {
  margin: 12px 0;
}

h1 {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: .02em;
  line-height: 48px;
  margin: 12px 0;
}
h2 {
  color: #2a333c;
  font-weight: 200;
  font-size: 21px;
}
h3 {
  color: rgb(84, 102, 120);
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 29.39px;
}

.btn {
  background: transparent;
  border: 1px solid white;
}


#page-title {
  border-bottom: 1px solid #e1e1e1;
  padding: 2.25em 0;

  #title {
    color: #6e5baa;
    font-size: 2em;
    line-height: 1.1em;
  }
}

.page-content {
  padding: 1em 0 2em;
}

.with-sidebar {
  padding-right: 3.01887%;
  padding-bottom: 3.01887%;
}

aside.sidebar {
background-image: -webkit-linear-gradient(top, #fff, #ddd 35%, #ddd 65%, #fff);
background-image: linear-gradient(to bottom, #fff, #ddd 35%, #ddd 65%, #fff);
background-position: 6.03774% center;
background-repeat: no-repeat;
background-size: 1px 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
float: left;
margin-right: 3.01887%;
margin-bottom: 3.01887%;
width: 31.32075%;
vertical-align: top;
padding-left: 8.58491%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-right: 0;
}

.topic-list {
  padding-top: 1.5625em;

  h3 {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0 0 1em;
  }

  ul {
    margin-top: 0;
    margin-bottom: 3.125em;
    padding: 0;
    list-style-type: none;
  }

  a {
    line-height: 2;
    text-decoration: none;
  }
}

.hero {
  min-height: 450px;
  text-align: center;

  h1 {
    font-size: 48px;
  }

  .lead {
    margin-bottom: 32px;
  }

  p {
    color: #b3e7f3;
    font-weight: 100;
    letter-spacing: .05em;
  }

  &.about-head {
    background-position: 50% 100%;
    background-color: #242a33;
    background-image: url("../images/team-hero.png");
    color: #fff;
    margin: 0 0 24px;
    padding: 137px 0 0;
  }

  &.security-head {
    background-position: 50% 100%;
    background-color: #242a33;
    background-image: url("../images/security-hero.png");
    color: #fff;
    margin: 0 0 24px;
    padding: 137px 0 0;
  }

  &.automate-head {
    background-position: 50% 80%;
    background-color: #4d9de0;
    background-image: url("../images/automate.png");
    background-repeat: no-repeat;
    padding: 100px 0 550px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #d5eafb;
  }

  &.legal-head {
    background-color: #30426a;
    padding: 100px 0 0;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #d5eafb;
    min-height: 250px;
  }
}

.page-content{
  &.security {
    text-align: center;

    h2 {
      font-size: 27px;
      font-weight: 400;
    }

    p {
      font-size: 16px;
    }

    .section {
      margin-bottom: 50px;
    }
  }
}